* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1f305e;
  --grey_primary: #ccc;
  --white: #f7f7f7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1400px;
  margin: auto;
 
}

body::-webkit-scrollbar 
{
 display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 1rem 0;
  min-height: 80vh;
  width: 80%;
  margin: auto;
}
